
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="blog">
    <div class="container">
        <h1>Blog</h1>
        <div class="blog-top">
            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">Trải nghiệm ngay CONCEPT đầu tiên tại Hà Nội </a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b1.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>12-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>
                    Sau bao ngày chờ đợi, cuối cùng Biti’s đã có thể giới thiệu
                    tới những người yêu mến tại thủ đô một không gian hiện đại,
                    phong cách để trải nghiệm những sản phẩm thuộc “Kỷ nguyên
                    mới của Nâng Niu Bàn Chân Việt”.
                </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">	Bước chân sóng đôi cùng thời đại</a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b2.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>15-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>Sự có tâm và trân trọng những “bàn chân Việt” đã đưa XShop trở thành một thương hiệu của người Việt, vì người Việt. Tủ giày, kệ dép của gia đình Việt Nam nào cũng nhất định phải có một đôi Biti’s mới đành! </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="blog-top">
            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">Săn Sales- Trúng ngay Vinfast</a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b3.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>22-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>
                    Sau bao ngày chờ đợi, cuối cùng Biti’s đã có thể giới thiệu
                    tới những người yêu mến tại thủ đô một không gian hiện đại,
                    phong cách để trải nghiệm những sản phẩm thuộc “Kỷ nguyên
                    mới của Nâng Niu Bàn Chân Việt”.
                </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">[Grand Opening] Chào mừng cửa hàng thứ 198</a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b4.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>17-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>
                    Trong khung giờ vàng từ 7h30 – 9h30 (từ ngày 29.02 đến hết ngày 09.03.2020), khi khách hàng mua bất kỳ sản phẩm nào tại cửa hàng với hóa đơn trên 1.000.000đ sẽ đươc tặng thêm 01 áo thun Hunter.

                    Đặc biệt: Chương trình 1 và chương trình 2 áp dụng đồng thời cùng nhau.
                </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="blog-bottom">
            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">Chương trình săn Sales lớn nhất năm</a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b5.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>12-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>

                    Như một món quà mang ý nghĩa cầu chúc năm mới tốt lành - năm Canh Tý 2020. Biti’s lan tỏa lời chúc tốt đẹp đến các khách hàng yêu thương thông qua chương trình “LÌ XÌ MAY MẮN – MỞ LỘC ĐẦU NĂM”
                </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>


            <div class="col-md-6 grid_3">
                <h3><a href="blog_single.html">Trải nghiệm ngay CONCEPT đầu tiên tại Hà Nội </a></h3>
                <a href="blog_single.html"><img src="~/Assets/Client/images/b1.jpg" class="img-responsive" alt="" /></a>

                <div class="blog-poast-info">
                    <ul>
                        <li><a class="admin" href="#"><i> </i> Admin </a></li>
                        <li><span><i class="date"> </i>12-12-2021</span></li>
                        <li><a class="p-blog" href="#"><i class="comment"> </i>No Comments</a></li>
                    </ul>
                </div>
                <p>
                    Sau bao ngày chờ đợi, cuối cùng Biti’s đã có thể giới thiệu
                    tới những người yêu mến tại thủ đô một không gian hiện đại,
                    phong cách để trải nghiệm những sản phẩm thuộc “Kỷ nguyên
                    mới của Nâng Niu Bàn Chân Việt”.
                </p>
                <div class="button"><a href="#">Read More</a></div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

